[2017-08-29 21:16] tennyson-mccalla opened #1 "Significant Figures?"
I feel like this bot would be much more useful if it just gave rounded amounts dictated by the rules of significant figures. So instead of converting something like 2 miles to 3.2 km the bot could just write something like "≈3 km" or "approximately 3 km".

In the example there's only one significant figure (the 2) and the result should also have one. It's just a bit more pleasant.

[2017-08-30 08:27] cannawen commented on #1
Yeah, I'm not totally happy with how significant figures are currently handled. Right now I have arbitrary cutoffs, for example, anything under 10 km will always have 1 decimal place and anything above that will have 0 decimals. It will convert 2,000 miles to 3,219 km, which, I agree, is too much precision

I'm thinking of implementing some sort of rounding that allows for a percentage of error, m

[2017-08-30 12:41] tennyson-mccalla commented on #1
No problem. You've made a great bot and I appreciate it.

I'm wondering whether the 7% might be acceptable error but you could leave a feedback option regarding precision to act as crowd source training tool?

Some subreddits will end up more likely than others to criticize the imprecision so later they can be added to a list of subs that prefer that level. Or maybe that's too much hassle for such

[2017-09-06 11:57] cannawen commented on #1
I implemented a 5% rounding error threshold, you can (kind of) see how it affects the rounding in [the tests](https://github.com/cannawen/metric_units_reddit_bot/commit/ec20c6d803da0d38900ac18737fb95fa75110bfb). I think this is probably good enough for now, and rounding can be re-visited later if there are complaints

Fix will be rolled out in next release (v0.8.0). Closing issue.

[2017-09-06 11:57] #1 closed, assigned to nobody

[2017-09-06 13:32] tennyson-mccalla commented on #1
Cool 👍

[2017-09-10 15:53] Xavion3 opened #3 "Bot converts string from middle of url"
See [this comment](https://www.reddit.com/r/feedthebeast/comments/6z896u/what_mod_add_this_text_on_the_top_right_corner_of/dmtbdnt/), imgur album id was `62lbS`and the bot interpreted that as a measurement. This is very rare most likely, and markdown parsing could be tricky, but is a bug.

[2017-09-11 10:14] cannawen commented on #3
Fixed in v0.8.2 by ignoring numbers starting with `/`. Thanks for reporting the issue!

[2017-09-11 10:14] #3 closed, assigned to nobody

[2017-09-20 11:23] airbreather opened #4 ""mr.? bot""
In [this regex](https://github.com/cannawen/metric_units_reddit_bot/blob/322e458d3060089bb13b8bf8bfb7169bf40d91de/src/personality.js#L65), it matches "mr.? bot".

The "." matches any character.

In theory, it looks like it could reply to "mrs bot" with "Actually, I prefer the female gender pronoun. Thanks.", which would be kinda funny.

see: https://regex101.com/r/Isy8YX/2

[2017-09-20 17:14] cannawen commented on #4
Very valid point, the regex is incorrect. I'll fix it in the next release, thank you for the bug report!

[2017-09-20 17:46] #4 closed, assigned to nobody

[2017-09-28 13:39] cannawen opened #6 "Create personality response for "ok/mediocre/meh bot""
[metric_units](https://www.reddit.com/user/metric_units) is a sassy reddit bot that finds imperial units, and replies with a metric conversion. What makes it sassy? The bot sometimes replies to comments like "good bot" and "bad bot" with its personality module.

This story is to give the bot even more personality! It should also reply to comments like "ok bot" or "mediocre bot".

Possible replies:

[2017-09-28 13:48] cannawen opened #7 "Convert furlong to metric distance"
[metric_units](https://www.reddit.com/user/metric_units) is a sassy reddit bot that finds imperial units, and replies with a metric conversion.

Furlongs should be converted to metric distances (meters, km, etc.)

See [this commit](../commit/e0eb7f637d8703c9251de70794d117438f9d8fe1) for an example of how to add a new conversion

[2017-09-28 13:50] cannawen opened #8 "Convert nautical miles to km"
[metric_units](https://www.reddit.com/user/metric_units) is a sassy reddit bot that finds imperial units, and replies with a metric conversion.

Nautical miles should be converted to metric distances (meters, km, etc.)

See [this commit](../commit/e0eb7f637d8703c9251de70794d117438f9d8fe1) for an example of how to add a new conversion

[2017-09-28 13:51] cannawen opened #9 "Convert acres to km^2"
Acres should be converted to km^2

See [this commit](../commit/e0eb7f637d8703c9251de70794d117438f9d8fe1) for an example of how to add a new conversion

[2017-09-28 14:01] cannawen opened #10 "Convert from miles to light-seconds"
[metric_units](https://www.reddit.com/user/metric_units) is a sassy reddit bot that finds imperial units, and replies with a metric conversion.

It's not quite metric, but it might be helpful to convert distances to light-seconds

See `distanceMap` in [conversion_helper.js](../tree/master/src/conversion_helper.js) to get started

[2017-09-28 14:03] seandgrimes commented on #8
Hi Canna, any problem with me picking this issue up?

[2017-09-28 14:04] simonstaton commented on #10
Working on this now, Hacktoberfest ;)

[2017-09-28 14:05] cannawen commented on #8
Go for it! Let me know if you need any assistance :)

[2017-09-28 14:05] esclear commented on #7
Consider this done :)

[2017-09-28 14:08] cannawen commented on #7
Awesome, let me know if you need any help!

[2017-09-28 14:09] cannawen commented on #10
Amazing, feel free to reach out if you get stuck! :)

[2017-09-28 14:11] annuhdo commented on #9
Hi! I’ll work on this for Hacktoberfest :)

[2017-09-28 14:16] cannawen commented on #9
Sure, sounds good!

[2017-09-28 14:53] #7 closed, assigned to nobody

[2017-09-28 15:22] cannawen opened #12 "Change "version" string to "age" string in subreddit /r/totallynotrobots"
[metric_units](https://www.reddit.com/user/metric_units) is a sassy reddit bot that finds imperial units, and replies with a metric conversion.

When it finds itself in [/r/totallynotrobots](https://www.reddit.com/r/totallynotrobots/comments/72u81b/i_very_much_enjoy_cracking_open_a_cold_one_with/dnlq0ag/), metric bot disguises itself as human because well... of course it's not a robot.

That being

[2017-09-28 15:31] nitinkgp23 commented on #12
I am picking this up :)

[2017-09-28 15:32] cannawen commented on #12
Sounds good! Let me know if you need any assistance :)

[2017-09-28 15:59] fbontin commented on #6
I'll give this a try for hacktoberfest :-)

[2017-09-28 16:02] cannawen commented on #6
Sounds good! Let me know if you need any help.

[2017-09-28 19:15] cannawen opened #16 "Create personality response for "cute bot""
[metric_units](https://www.reddit.com/user/metric_units) is a sassy reddit bot that finds imperial units, and replies with a metric conversion. What makes it sassy? The bot sometimes replies to comments like "good bot" and "bad bot" with its personality module.

This story is to give the bot even more personality! It should also reply to comments like "cute/adorable/kawaii bot" with even more cute

[2017-09-28 19:21] chazzlabs commented on #16
I'd be happy to pick this one up.  😃

[2017-09-28 19:22] cannawen commented on #16
Sweet, thank you! Let me know if you run into any problems :)

[2017-09-28 19:29] cannawen opened #17 "Convert "pecks" to litres"
[metric_units](https://www.reddit.com/user/metric_units) is a sassy reddit bot that finds imperial units, and replies with a metric conversion.

I have no idea who would use pecks (other than peter piper, who picked a peck of pickled peppers...) but if someone ever does, it should be converted to something less silly!

See [this commit](../commit/e0eb7f637d8703c9251de70794d117438f9d8fe1) for an ex

[2017-09-28 19:36] miporto commented on #17
Hi, I would like to work on this issue!

[2017-09-28 19:38] cannawen opened #18 "Add library for unit testing in javascript"
[metric_units](https://www.reddit.com/user/metric_units) is a badly-tested reddit bot that finds imperial units, and replies with a metric conversion. Can you help make it less bad?

[bot-test.js](https://github.com/cannawen/metric_units_reddit_bot/blob/master/test/bot-test.js) is an abomination where I rolled my own doubles (terrible idea, btw). Do you know how to unit test interactions between d

[2017-09-28 19:38] cannawen commented on #17
Sure thing, thanks! Let me know if you need any assistance :)

[2017-09-28 20:53] andrewwylde commented on #18
Hey @cannawen I'd be willing to contribute here.

Are there any criteria that would make this considered complete (i.e. acceptance criteria)

From what I can tell, you're looking for:
* adding coverage (?)
* reorganizing test structure

Does that sound about right?

[2017-09-28 21:20] cannawen commented on #18
Hey! I am having trouble mostly with the test structure because the current way is not sustainable. An example is I refactored a function name in one of the modules, but the bot-test.js tests did not fail, because I was still stubbing the old function name in bot-test.js

I think just some happy-path tests would be sufficient, but however much you feel like doing would be greatly appreciated! Than

[2017-09-28 21:32] andrewwylde commented on #18
OK sounds good, let me give it some thought and see what I can do!

[2017-09-28 23:38] softban commented on #16
If you're not already using it, https://api.ai/, would make this very easy & robust. 🍻

[2017-09-29 20:56] miporto commented on #17
Hi! Just checking in. I already implemented the code, just waiting to October 1 to commit and make the PR 😁

[2017-09-30 06:01] cannawen commented on #17
Sweet, looking forward to merging it in! :D

[2017-09-30 10:36] cannawen commented on #16
Thanks for the link @softban , I put a story into the [icebox](https://www.pivotaltracker.com/story/show/151576337), perhaps for v2 of the bot!

[2017-10-01 12:59] devesh-verma commented on #9
@cannawen  I would like to work on this if there's no progress?

[2017-10-01 14:17] #12 closed, assigned to nobody

[2017-10-01 14:19] #6 closed, assigned to nobody

[2017-10-01 14:21] cannawen commented on #17
Closed in #23

[2017-10-01 14:21] #17 closed, assigned to nobody

[2017-10-01 14:27] cannawen opened #24 "Knots should be converted to metric speed"
[metric_units](https://www.reddit.com/user/metric_units) is a sassy reddit bot that finds imperial units, and replies with a metric conversion.

Knots should be converted to metric speed (i.e. km/h)

See [this commit](../commit/e0eb7f637d8703c9251de70794d117438f9d8fe1) for an example of how to add a new conversion

[2017-10-01 14:28] cannawen commented on #24
@devshiva619 would you like to pick up this issue instead?

[2017-10-01 14:28] cannawen commented on #9
@devshiva619 , The issue has already been assigned, but you can work on a new (similar) feature if you want! I'll tag you in it.

[2017-10-01 15:08] devesh-verma commented on #24
@cannawen sure why not. But right it says already assigned. If you haven't already assigned anyone I will surely work on this.

[2017-10-01 15:11] cannawen commented on #24
My mistake with the tag.

It's all yours, thanks! Let me know if you need any help getting started

[2017-10-01 15:17] devesh-verma commented on #24
@cannawen thankyou. have you assigned this to me ?

[2017-10-01 20:00] #16 closed, assigned to nobody

[2017-10-01 20:30] #9 closed, assigned to nobody

[2017-10-02 17:48] cannawen opened #28 ""Personality" architecture overhaul discussion"
Discussion from [here](https://github.com/cannawen/metric_units_reddit_bot/commit/37ee286dd390d32389ffc5916b7c441db23c8a94)

![screen shot 2017-10-02 at 7 46 22 pm](https://user-images.githubusercontent.com/1088336/31091179-6bc33740-a7aa-11e7-8790-0b4356abd955.png)

[2017-10-02 17:58] cannawen commented on #28
@chazzlabs I agree, this file is extremely not open-close (same problem with the "conversions" file), and I think an architecture overhaul would be a great idea!

I feel like ideally, each personality response should be represented by a data file (like .yaml) but I don't know if that's possible, with the regexes and the javascript logic

I am envisioning creating a new folder and creating a file f

[2017-10-02 20:37] cannawen opened #29 ""pound-force" should be converted to Newtons"
[metric_units](https://www.reddit.com/user/metric_units) is a sassy reddit bot that finds imperial units, and replies with a metric conversion.

**Enhancement request:** "pound-force" units should be converted to Newtons.
See [this commit](../commit/e0eb7f637d8703c9251de70794d117438f9d8fe1) for an example of how to add a new conversion

**Recommended skills:** Basic javascript & basic regular expr

[2017-10-02 20:43] cannawen opened #30 ""troy ounces" should be converted to metric weights"
[metric_units](https://www.reddit.com/user/metric_units) is a sassy reddit bot that finds imperial units, and replies with a metric conversion.

**Enhancement request:**
Troy ounces are often used in precious metal subreddits, and they are different from regular ounces.
1) When the bot sees "troy ounces" it should be converted to metric weights.
2) When the bot sees "ounces" in a precious metal su

[2017-10-02 20:49] eliotw commented on #30
Hi, I would be interested in taking this issue.

[2017-10-02 20:55] cannawen opened #31 "Acres should be converted to km^2, hectares, or m^2"
[metric_units](https://www.reddit.com/user/metric_units) is a sassy reddit bot that finds imperial units, and replies with a metric conversion.

Currently, acres are always converted to km^2 (1 acre = 0.00404686 km ^2)
**Enhancement request:** Acres should be converted to km^2, hectares, or m^2 (preferring to use the largest unit possible without using decimal places)
See [conversion_helper.js](ht

[2017-10-02 20:56] cannawen commented on #30
Awesome, thank you! Let me know if you need any help :)

[2017-10-02 20:57] JuanPotato commented on #31
I'll take this on

[2017-10-02 20:58] winglian commented on #29
I'll take this one on

[2017-10-02 20:59] cannawen commented on #31
Sweet! Let me know if you need any help!
P.S. I love your username

[2017-10-02 21:00] cannawen commented on #29
Amazing! Feel free to reach out if you need any assistance :)

[2017-10-02 21:04] chazzlabs commented on #28
Yes, basically; I was thinking of a single `personality` directory with an `index.js`, `good-bot.js`, `bad-bot.js`, etc.  The `index.js` file would pull in each of the individual personality files and conflate their contents into a single array that's identical to the `robotPersonality` array that exists currently.  The personality module would function the same as it does now.

I'm not sure about

[2017-10-02 21:04] cannawen opened #32 ""bushels" should be converted to metric weights"
[metric_units](https://www.reddit.com/user/metric_units) is a sassy reddit bot that finds imperial units, and replies with a metric conversion.

**Enhancement request:** "bushels" should be converted to metric weights.
See [this commit](../commit/e0eb7f637d8703c9251de70794d117438f9d8fe1) for an example of how to add a new conversion

**Recommended skills:** Basic javascript & basic regular express

[2017-10-02 21:05] MFogleman commented on #32
I'll take this on

[2017-10-02 21:06] JuanPotato commented on #31
You want it just to be m^2 or hectares and never use km^2?

[2017-10-02 21:18] cannawen commented on #28
Hehehe yeah the order of the personality array matters, because I wanted "who's a good bot" to trigger `who's a {{x}}` responses instead of `good bot`. I acknowledge an array is a terribly hacky and unclear way to do this

ANYWAYS...

I really like the code snippets you have there. The pre-assembling of the response arrays is much more efficient, and explicitly calling the number "weight" is a gre

[2017-10-02 21:21] cannawen commented on #28
Oh, wait, one more thought, actually - it'd be pretty cool if personality responses were completely separated and if you wanted to add a personality, you would just have to add one file and not touch any existing files, following the [open-close principle](https://en.wikipedia.org/wiki/Open/closed_principle) ... but I'm not sure if that's a thing in javascript

Edit: either way, the refactor would

[2017-10-02 21:21] cannawen commented on #32
Great, thank you! Let me know if you need any assistance :)

[2017-10-02 21:23] cannawen commented on #31
km^2 should still be used for values of over 1 km^2. Sorry the story was unclear, I'll edit it now!

[2017-10-02 21:37] chazzlabs commented on #28
The commit that sparked this discussion makes a whole lot of sense now!

I agree, and this is the drawback of the `responses.js` file in my example, but I can brainstorm a solution.  I wasn't sure if allowing phrases to be valid responses for _any_ regex would mean separating them into different files was confusing or didn't make sense.

In any case, I'm happy to take a take a shot at this.  Will

[2017-10-02 21:55] cannawen commented on #28
I think duplicated response strings in 2 separate files would be acceptable (since there is nothing inherently tying them together - just because you edit one personalitg string doesn't always mean you want the other personality string to change as well).

Awesome!! Yes, let's keep this issue open for discussion :)

[2017-10-03 05:34] #32 closed, assigned to nobody

[2017-10-03 05:34] #31 closed, assigned to nobody

[2017-10-03 06:13] devesh-verma commented on #24
hey, @cannawen I sm having problem in setting up the project. Can you help me with it.

[2017-10-03 12:34] cannawen commented on #24
Sure, what problem are you running into?

[2017-10-04 14:25] #29 closed, assigned to nobody

[2017-10-04 14:26] #10 closed, assigned to nobody

[2017-10-04 14:29] cannawen commented on #8
Hey @munumafia, it's October! Friendly reminder to re-submit your PR whenever you get a chance :)

[2017-10-04 15:17] devesh-verma commented on #24
@cannawen sorry for replying late, I had made the app in reddit, but from where do I download the source-code from ?

[2017-10-04 15:18] chazzlabs commented on #28
@cannawen Do you have any ideas about how we can enforce a priority while keeping in mind the open/closed approach?

My initial thought for loading each "personality" file was to just iterate over all files in the directory to dynamically build our personality "dictionary" and regex list on startup, but that doesn't make it obvious how we solve the priority problem.  Off the top of my head, one so

[2017-10-04 15:23] cannawen commented on #24
Press the "fork" button in the top right corner of this page, and then you want to use [git to download your version of metric_units_reddit_bot](https://help.github.com/articles/cloning-a-repository/)

[2017-10-04 15:28] cannawen commented on #28
I was thinking the `priority` attribute could be a string like "high" "medium" or "low" ... 3 buckets might be enough to put everything in the right order. "who's a {x} bot" can go into the"high" bucket and "good bot" could go into the "low" bucket, and we can match all high priority regexes first.

This doesn't help if there are multiple regexes that match in the same priority level... but maybe

[2017-10-04 15:30] cannawen commented on #28
It's a tradeoff, your suggestion of making a hard coded list is a lot clearer. A "bucket" priority is a lot less clear but more isolated. Hmm... it's kind of a false isolation though, because the regxes ARE linked. ok, nevermind, I change my mind, I think it's a good idea to have an explicit list somewhere :) Because there is an inherent order to the data we are trying to represent

[2017-10-04 15:31] devesh-verma commented on #24
@cannawen sorry I think I wasn't clear, I meant I have cloned the repo and created the app in readdit.  What am I supposed to do next?

[2017-10-04 15:38] cannawen commented on #24
[Ah, the instructions are in the readme.](https://github.com/cannawen/metric_units_reddit_bot#running-the-code)
Have you created the ./private/environment.yaml file?

[2017-10-04 15:53] chazzlabs commented on #28
When I initially started thinking about this problem those were the first and second thoughts I had.  :)  You articulated it better than I would have in a written comment.

I do like the priority solution from an ease-of-development perspective, but it also feels a bit "unstable", for lack of a better word; I wouldn't be comfortable leaving the order up to chance, even if it's just in a couple cas

[2017-10-04 16:02] cannawen commented on #28
I agree. To add a new personality with confidence, you would need to know the priority and regex of every other personality, which is the complete opposite of what we want.

Yes, I think an explicit list makes sense. The personality triggers are ordered, thus they have to know about each other. Referring to it as a configuration step makes me feel better too... hahaha :)

[2017-10-04 16:27] devesh-verma commented on #24
@cannawen  I wanted to know from where do I need to download the source-code

[2017-10-04 16:55] nalinbhardwaj opened #41 "Handling ranges better"
Currently, the bot handles ranges in a non-intuitive way by displaying each value separately, the current ranges handling can be made much better instead if we process them separately in `findPotentialConversions` and `formatConversion` to do the following:

- Display ranges in comment as ranges in response, for example, `1-2 miles ≈ 1.6-3.2 km`
- Handle many more joining keywords, such as `1 to 2

[2017-10-04 17:52] chazzlabs commented on #24
@devshiva619  You should fork the repository by clicking the "fork" button on the top right of the page.  This will create a fork of the repo in your personal account.  From there, `git clone` your fork onto your computer.

[2017-10-04 18:01] cannawen commented on #41
That would be awesome! Thanks for volunteering :) Let me know if you need any assistance

[2017-10-04 18:16] cannawen opened #42 "*** CREATE YOUR OWN ISSUE ***"
If there are no open issues on github but you would like to contribute to metric_units reddit bot, you can take a look at [Pivotal Tracker](https://www.pivotaltracker.com/n/projects/2091572#) and create your own github issues based on the ideas there. You can find stories under the "unassigned" marker, or in the Icebox if you are feeling adventurous!

Thank you for your interest :)

[2017-10-04 20:13] eliotw opened #43 "Keyword triggers for fl oz instead of oz conversions"
Given a post contains the unit "oz" but NOT "fl oz" unit
If the post text also contains the keywords:

The "oz" should be converted to "fl oz"
This can be done in a pre-processing step in the fl oz conversion object

[2017-10-04 20:17] eliotw commented on #43
I wonder if the scope of this should be limited to a single line/sentence. There maybe a case where a recipe will reference oz for something like a steak. But then reference a liquid later on. For example:

I can work on this.

[2017-10-04 21:21] cannawen commented on #43
Great, thanks for volunteering! You can find the relevant part of the code in [this file](https://github.com/cannawen/metric_units_reddit_bot/blob/master/src/conversion_helper.js). Feel free to reach out if you need any assistance :)

Can you clarify what you mean about limiting the scope to a line or sentence? In the above example you mentioned, the 8 oz should be considered a weight unit, and no

[2017-10-04 21:30] eliotw commented on #43
Yes. So with the previous exmaple, the original logic would require two conditions to be true.

1. The post contains "oz" but not "fl oz"". This is true.
2. The post contains some liquid word. This could be satisfied by the word oil. However the oz was referring to the steak not the oil. But since the scope of where we are matching is the entire post, this condition would be satisfied.

Even limit

[2017-10-04 21:44] cannawen commented on #43
Oh, I see what you mean (my mind didn't register that oil was a liquid - in my defence, it's late here, haha)... Yes, that's an excellent idea to limit it per line or sentence! Great catch :)

Hmm, you're right, there are definitely limitations to the approach. I think we should try it out, and we can always iterate if it doesn't work. I'm guessing/hoping the "8 oz steak and 1 tbsp olive oil" prob

[2017-10-05 02:13] nicolasferraro opened #45 "standardize ' vs " [#151046132]"
Currently `'` and `"` are used interchangeably in the code, for the sake of standardization and code legibility we should pick one as the standard and fix the remaining quotes on the code.

@cannawen Do you have any preference between `'` and `"`?

Maybe a coding guideline of sorts could be defined so everyone is on the same page. (tabs vs spaces, space between brackets, etc)

[2017-10-05 03:06] nicolasferraro opened #46 "Allow for k to represent thousand [#151447001]"
i.e. 50k miles should be processed to 50000 miles

A quick solution for this would be to add k matching to the number_regex so when we are parsing `50k` we match `50k` instead of `50` like we do currently. We could then either replace the `k` with `000` or cast the string as a number and multiply it by `1000`.

@cannawen What's your opinion on this? Should we also parse numbers like `20.2k` to `20

[2017-10-05 07:14] cannawen commented on #45
Yes, coding guidelines would be an excellent idea! I personally think ' looks better, but maybe it's worth researching what JavaScript standards are? I'm not too picky on what the formatting is, as long as it's consistent.

Maybe we can find a linter that automatically runs and enforces style, to reduce the human effort required? I haven't looked into it much so I don't know if such a thing exists

[2017-10-05 07:44] cannawen commented on #46
If you wait for PR #44 to be merged in (some time within the next few days probably), there will be a nice "preprocess comment" method you can use! Yes, I think changing 20.2k to 20200 would make sense :)

Thanks for volunteering to pick up this task!

[2017-10-05 07:54] cannawen opened #47 "Increase threshold for light seconds conversion"
[metric_units](https://www.reddit.com/user/metric_units) is a sassy reddit bot that finds imperial units, and replies with a metric conversion.

**Enhancement request:** [Light seconds are used too liberally](https://www.reddit.com/r/AutoDIY/comments/749rro/diy_repair_2013_corolla/dnxltx0/?context=3).
Change code so that >2 million miles are converted to light seconds. See [this file](https://gith

[2017-10-05 08:11] cmd-kvn commented on #47
I'd like to take this task @cannawen!

[2017-10-05 08:47] cannawen commented on #47
Sounds good! Let me know if you need any assistance getting started :)

[2017-10-05 08:57] cmd-kvn commented on #47
I appreciate the offer. I do have a beginner's question: it's required to sign up for a Reddit account to do testing? That's the only way to make the `.yaml` file?

[2017-10-05 08:59] cannawen commented on #47
Just straight up copy the sample-environment file without changing any values, you don't need a reddit account to run "npm test". I will update the README file to make the instructions more clear :) Thanks!

[2017-10-05 09:05] cmd-kvn commented on #47
Wonderful! It's all sorted and I have the ability to test. I'll start my attempt at the code. Thank you!

[2017-10-05 09:15] nalinbhardwaj commented on #46
Similarly, it should be easy to add modifiers like `thousand, m, b, mill, billion` and so on. This could also be a good start to adding interpretation of word numbers `fifty five` and so on.

[2017-10-05 09:21] cannawen commented on #46
That's a great idea! Maybe once the we get the "preprocess" code in, we could create some separate stories to add those modifiers and word-numbers as well :)

[2017-10-05 09:50] cannawen commented on #47
Oops wait, it looks like someone else already made a PR on this story @cmd-kvn  ... would you like to pick up a [different story](https://www.pivotaltracker.com/n/projects/2091572#)? Sorry I didn't notice this earlier (it's hard to keep track with all the stories and PRs flying around), there's definitely some process improvements needed.

[2017-10-05 10:05] cannawen commented on #46
@nalinbhardwaj The preprocess change was just merged in FYI, so the infrastructure should be there for you to start working on this issue

[2017-10-05 10:09] nalinbhardwaj commented on #46
@cannawen did you mean to mention @nicoferraro96 ? Isn't this already assigned to him?

[2017-10-05 10:10] #30 closed, assigned to nobody

[2017-10-05 10:10] #47 closed, assigned to nobody

[2017-10-05 10:11] cannawen commented on #46
MY BAD, yes, sorry!!

[2017-10-05 10:33] nicolasferraro commented on #46
@cannawen Cool, I'll start working on it later today!

[2017-10-05 10:47] nicolasferraro commented on #45
I think adding `jshint` to travis-ci should be quite easy. This way we could configure jshint through `.jshintrc` and have it run on every build.

[2017-10-05 11:02] cmd-kvn commented on #47
I appreciate the update and I understand, @cannawen. I'll just check in on the issues when I have time and try my luck again.

[2017-10-05 11:19] cannawen opened #50 "Feedback request - Process discussion"
EDIT: [CONTRIBUTE.md](https://github.com/cannawen/metric_units_reddit_bot/blob/master/CONTRIBUTING.md) document created, but feel free to keep discussing process-related improvements that can be made

---

Hey everyone!

I am having some problems with our current process, where Alice volunteers to fix an issue, but then Bob makes a PR for it (either not noticing the "already-assigned" tag, or they

[2017-10-05 11:25] cannawen commented on #45
That looks like an interesting tool! Do you want to take a stab at setting it up @nicoferraro96 ?

[2017-10-05 11:27] #8 closed, assigned to nobody

[2017-10-05 11:31] nicolasferraro commented on #45
Yeah sure!

[2017-10-05 13:05] chazzlabs commented on #45
I think this makes a lot of sense, especially now that more people are contributing as a result of Hacktoberfest.

@nicoferraro96 Are you thinking of extending an existing style guideline with `jshint` or are you going to add a few rules just as a sort of starting point?

[2017-10-05 13:50] nalinbhardwaj commented on #50
Here are my general opinions on the stuff that needs to be worked out in this repo, hope they help, maybe not all of them are on topic, but I think they should be addressed:

1. Instead of using Pivotal Tracker, switch to Github issues exclusively, maybe keep the "ice box" section from pivotal tracker. Since it is not possible for unpaid users to write comments/responses there, it's suboptimal to

[2017-10-05 14:04] cannawen commented on #50
I think you're right, stories should be moved out of Pivotal Tracker so people can comment on them. I also agree with your other points, some guidelines for what information a PR should contain is a great idea! (This is my first open source project, if you can't tell :P)

[2017-10-05 14:10] nicolasferraro commented on #45
@chazzlabs My idea was to base the config on an existing style guideline and maybe add/remove some rules, depending on if they make sense or not for this project. If you have any suggestions I would be glad to hear them

[2017-10-05 15:47] chazzlabs commented on #45
@nicoferraro96 I don't know of any popular style guides for `jshint`.  Personally I use `eslint` and usually use AirBnb's style guide, but that's really more for front-end development.

I like using some other popular guide as a base because it feels like I'm starting with something that's more "standard" within the community.  I'd only be concerned about the style guide potentially requiring a lo

[2017-10-05 17:38] #43 closed, assigned to eliotw

[2017-10-05 17:48] cannawen opened #53 "Bushel conversion should depend on keyword."
[metric_units](https://www.reddit.com/user/metric_units) is a sassy reddit bot that finds imperial units, and replies with a metric conversion.

**Current behaviour:** The bot converts bushels to ~32 lbs
**Enhancement request:**
[The unit "bushel" should change depending on the commodity.](https://www.reddit.com/r/metric_units/comments/73edn2/constructive_feedback_thread/dnxatzk/)

metric_units bo

[2017-10-05 17:53] cannawen opened #54 "Keywords that should be trigger a "fl oz" translation instead of "oz""
Related to #43 and #52

Missing: "cup", "breastfeeding", "cans", "tall boy", "brew"

[2017-10-05 18:37] MFogleman commented on #53
I created this beast.

The problem with the 'Bushel' is that it is completely not defined.  A bushel of oats is a different weight than a bushel of wheat.  The weight of a bushel of wheat is also going to vary depending on where you are.  I found [This site](https://www.unc.edu/~rowlett/units/scales/bushels.html), which has some state standards that recognize some federal standards.

You also have

[2017-10-05 18:43] cannawen commented on #50
@nalinbhardwaj Can you provide an example of what you mean by "a template for issues/PRs"?

I made a first draft of a [CONTRIBUTING.md](https://github.com/cannawen/metric_units_reddit_bot/blob/contributors/CONTRIBUTING.md) file.

Any comments about the specific text (wording, typos, etc) can be made on the [PR](https://github.com/cannawen/metric_units_reddit_bot/pull/51/files).
Any comments about

[2017-10-05 18:56] cannawen commented on #53
Yeah... I didn't realize how many kinds of bushels there were until all the farmers were upset in my reddit feedback thread, haha! I asked them if a volumetric conversion would be better, and they said no.

I feel like some simple keyword matching would help a lot, like if a post said "1 bushel of tomatoes" then we would use tomato-bushels.

Code-wise it might not be so bad if we made a object lik

[2017-10-05 19:18] MFogleman commented on #53
I'd like to give it a shot, but don't know how much time I'll have to devote to it.  If anyone else wants to as well (It _is_ hacktoberfest), I won't be offended.  I think there is enough work and edge cases to keep multiple contributors busy.

[2017-10-05 19:42] cannawen commented on #53
@MFogleman Maybe you can do 2-3 bushel numbers to get the ball rolling, and I can make issues afterwards for other people to add more bushel types? If you get too busy just give me a shout here and I can try to find someone else to do it. Thank you!! :)

[2017-10-05 20:05] cannawen opened #55 "Feet per second values should be converted to metric speed"
[metric_units](https://www.reddit.com/user/metric_units) is a sassy reddit bot that finds imperial units, and replies with a metric conversion.

**Current behaviour:**
mph is translated to metric speed, but feet per second is not

**Enhancement request:**
Feet per second values should be translated to metric speed
See [this commit](https://github.com/cannawen/metric_units_reddit_bot/pull/49/files)

[2017-10-05 20:08] cannawen opened #56 "Add test coverage statistics to repository"
[metric_units](https://www.reddit.com/user/metric_units) is a sassy reddit bot that finds imperial units, and replies with a metric conversion.

**Enhancement request:**
Investigate how to get test coverage data into the README.md file.
One possible solution is to use [Coveralls](https://coveralls.io/). Any other suggestions are welcome.

**Recommended reading:**
[CONTRIBUTING.md](https://github.c

[2017-10-05 20:12] cannawen opened #57 "Square inches should be converted to metric areas"
[metric_units](https://www.reddit.com/user/metric_units) is a sassy reddit bot that finds imperial units, and replies with a metric conversion.

**Current behaviour:**
1. Acres are translated to metric areas, but square inches are not.
2. Metric areas include m^2, hectares, and km^2

**Enhancement request:**
1. inches^2 should be converted to metric areas
2. cm^2 should be one of the metric area o

[2017-10-05 20:17] nalinbhardwaj commented on #50
I meant, for issues, we should have some definite fields in title like _[bug report], [feature request] etc._ in which, an example(for bug report, a link to reddit comment or such), expected behaviour details.

For PRs, a checklist for common things, `tested code`, `reviewed code`, `follows style guide` or similar that can be modified by maintainers etc. You can see PRs like [this](https://github.

[2017-10-05 20:27] cannawen opened #58 "Improve rounding for small numbers"
[metric_units](https://www.reddit.com/user/metric_units) is a sassy reddit bot that finds imperial units, and replies with a metric conversion.

**Current behaviour:**
1. If an input number has a decimal place, the output number will have an equal amount of decimal places (i.e. 1.1111 miles -> 1.7881 km)
2. Else if the input number is greater than 100 and it ends in a "0" then the output number wi

[2017-10-05 20:29] cannawen commented on #42
Closing issue. The Pivotal Tracker project is going to be deprecated, in favour of github issues. The stories will be ported over

[2017-10-05 20:29] #42 closed, assigned to nobody

[2017-10-05 21:42] nicolasferraro commented on #45
@chazzlabs I had forgotten about airbnb's eslint config, now that you mention it I think I'm going to try that first.

Maybe what we could do is first adding the linter and the corresponding travis config, but not enable it and update the contribute.md encouraging contributors to use the linter and comply with it as much as possible.

We could also open a separate issue to bring the current code u

[2017-10-05 22:36] joshuaj1397 commented on #57
Hi, I can tackle this issue! :D

[2017-10-05 23:14] nicolasferraro opened #60 "Standardize code"
Once #59 is merged, we should start fixing the things that eslinter points out.

Most of the errors can be autofixed by running the linter with the `--fix` parameter. The remaining ones will have to be fixed by hand

---

Two places to change:
1) `npm run-script lint` in .travis.yml file should be uncommented, so our CI will run the linter
2) [this commit](https://github.com/cannawen/metric_units_

[2017-10-06 04:09] cannawen commented on #57
Sure thing, thanks! Feel free to reach out if you need any assistance :)

[2017-10-06 09:53] esclear commented on #55
I can take this on.

Although I'm not quite sure, if there are common abbreviations for “feet per second”, since __fps__ would also match “frames per second”. But we could use “fps” as a weak indicator and possibly ignore it on gaming-related subreddits?

[2017-10-06 09:58] nalinbhardwaj commented on #55
@esclear I highly doubt anyone uses FPS to refer to feet per second. IMO, it’s best to exclude it completely.

[2017-10-06 10:02] cannawen commented on #55
@esclear Assigning to you :)

I would probably avoid fps, there's a very high chance of that going wrong.

But if you feel like it's worth a shot to try to add gaming/computer keyword exceptions, we can release it into the wild (for like an hour) and see how it performs? You might have to accept it as wasted code if the test doesn't go well though, but I'm willing to run the experiment if you feel

[2017-10-06 10:08] esclear commented on #55
Seems like `ft/sec` is actually being used in the wild.

[2017-10-06 10:41] rafd opened #63 "Refactor network module to avoid use of deasync"
[metric_units](https://www.reddit.com/user/metric_units) is a sassy reddit bot that finds imperial units, and replies with a metric conversion.

**Enhancement request:**
`deasync` is used to create functions that act like they are synchronous, but, this is very non-idiomatic (i.e. "things aren't typically done this way in javascript-land"), unnecessary (i.e. it is possible to implement in other wa

[2017-10-06 12:32] #45 closed, assigned to nicolasferraro

[2017-10-06 12:36] mcoirault commented on #60
Hey and happy Hacktoberfest.

I'll take care of this.

[2017-10-06 12:43] cannawen commented on #47
@cmd-kvn I added a whole bunch of new issues (not tagged hacktoberfest yet) if you are still interested in contributing :) Again, sorry for the confusion! I'm working on [writing out the project's processes](https://github.com/cannawen/metric_units_reddit_bot/issues/50) so this won't happened again in the future

[2017-10-06 13:09] cannawen commented on #60
Awesome, thanks for volunteering @mcoirault

[2017-10-06 14:11] cannawen opened #64 "Generate table of contents for README.md and CONTRIBUTING.md"
[metric_units](https://www.reddit.com/user/metric_units) is a sassy reddit bot that finds imperial units, and replies with a metric conversion.

**Current behaviour:**
The [README](../tree/master/README.md) and [CONTRIBUTING](../tree/master/CONTRIBUTING.md) pages are very long. This makes it hard to find what you want

**Enhancement request:**
This chore is to research and add a solution for autom

[2017-10-06 15:11] cannawen commented on #50
Thank you for the link to the PR and repo, I have stolen some ideas from them :D

I have added "lifecycle of an issue" and "lifecycle of a PR" to the [CONTRIBUTING.md](https://github.com/cannawen/metric_units_reddit_bot/blob/master/CONTRIBUTING.md) doc (which is now merged into master) to describe some flows. I don't think we need tags for PRs because our PRs are generally small, but we can always

[2017-10-06 15:32] cannawen opened #65 "Personality response for "I would walk 500 miles""
When the bot sees "I would walk 500 miles" it should respond "And I would walk 804.672km more" (or other similar joke responses)

This is more complex than adding a standard personality, because this relies on new comments and not comment replies.

[2017-10-06 15:44] chazzlabs commented on #65
@cannawen I'm finally getting some time this week to make progress on #28!  Should be done fairly soon and submitted for review so we can get to adding more personality. 💃

This one's great by the way!

[2017-10-06 15:52] cannawen commented on #65
No worries, take your time :D

[I can't take any credit for the idea, someone suggested it on reddit](https://www.reddit.com/r/metric_units/comments/73edhs/nonconstructive_feedback_thread/dnzhski/)

[2017-10-06 15:56] cannawen commented on #60
@mcoirault FYI we have just added a [CONTRIBUTING.md doc](https://github.com/cannawen/metric_units_reddit_bot/blob/master/CONTRIBUTING.md), please check it out when you have time! Sections "Etiquette", "Work on an issue" and "Make a PR" are most important

[2017-10-06 15:59] cannawen commented on #58
Marking as blocked on #61 because of potential merge conflicts

[2017-10-06 15:59] cannawen commented on #57
Hey @joshuaj1397 we have just added a [CONTRIBUTING.md doc](https://github.com/cannawen/metric_units_reddit_bot/blob/master/CONTRIBUTING.md), please check it out when you have time! Sections "Etiquette", "Work on an issue" and "Make a PR" are most important

[2017-10-06 16:03] cannawen commented on #55
@esclear FYI we have just added a [CONTRIBUTING.md doc](https://github.com/cannawen/metric_units_reddit_bot/blob/master/CONTRIBUTING.md), please check it out when you have time! Sections "Etiquette", "Work on an issue" and "Make a PR" are most important

[2017-10-06 16:11] cannawen commented on #53
Hey @MFogleman, we have just added a [CONTRIBUTING.md doc](../tree/master/CONTRIBUTING.md), please check it out when you have time! Sections "Etiquette", "Work on an issue" and "Make a PR" are most important

[2017-10-06 16:12] cannawen commented on #46
Hey @nicoferraro96, we have just added a [CONTRIBUTING.md doc](../tree/master/CONTRIBUTING.md), please check it out when you have time! Sections "Etiquette", "Work on an issue" and "Make a PR" are most important

[2017-10-06 16:13] cannawen commented on #28
Hey @chazzlabs, we have just added a [CONTRIBUTING.md doc](../tree/master/CONTRIBUTING.md), please check it out when you have time! Sections "Etiquette", "Work on an issue" and "Make a PR" are most important

[2017-10-06 16:14] cannawen commented on #24
Hey @devshiva619 are you still having problems downloading the source code? Maybe if you include some screenshots of the errors you are encountering, we can help?

Also FYI we have just added a [CONTRIBUTING.md doc](../tree/master/CONTRIBUTING.md), please check it out when you have time! Sections "Etiquette", "Work on an issue" and "Make a PR" are most important

[2017-10-06 16:14] cannawen commented on #18
Hey @astoellis we have just added a [CONTRIBUTING.md doc](../tree/master/CONTRIBUTING.md), please check it out when you have time! Sections "Etiquette", "Work on an issue" and "Make a PR" are most important

[2017-10-06 16:38] joshuaj1397 commented on #57
Will do, thanks!

[2017-10-06 17:32] cpa5399 commented on #64
Starter PR for this issue: https://github.com/cannawen/metric_units_reddit_bot/pull/66
I included a couple checklist items that I need to make sure are done, but would something like this solve this issue?

[2017-10-06 18:11] cannawen commented on #64
Assigning issue to @cpa5399

These are my thoughts on the matter:
![screen shot 2017-10-06 at 8 05 47 pm](https://user-images.githubusercontent.com/1088336/31292063-41a54b30-aad2-11e7-80e2-a3b7842ff206.png)

Is it possible to change the style of the header? I think it would look better as an h1-weight "Table of Contents" and then we can add the "generated with doctoc" somewhere near the bottom of

[2017-10-06 19:09] cannawen opened #67 "Bot should update conversions on edited posts"
Repro steps:
1. Alice makes a reddit comment that says "50 feet"
2. metric_units bot sees it, and responds with "50 feet ~ 15 metres"
3. Alice edits her comment to say "5 feet"

Expected: metric_unit bot should also edit its comment to say "5 feet ~ 1.5 metres"
Actual: metric_bot's reply still says "50 feet ~ 15 metres"

---

Discussion:
This is a pretty complicated story to do, because there is n

[2017-10-06 19:38] cannawen commented on #50
OHHHHH I GET WHAT YOU MEAN BY TEMPLATES, it's a literal template that [github lets you create](https://help.github.com/articles/creating-an-issue-template-for-your-repository/) for issues and PRs. OK. I didn't know those existed. I will add some tomorrow

Edit: also, I am purposefully not tagging issues with "hacktoberfest" to reduce our project's traffic until we figure out a more solid process

[2017-10-06 19:38] cannawen opened #68 "Add github templates for issues and PRs"
[Instructions here](https://help.github.com/articles/creating-an-issue-template-for-your-repository/)

[2017-10-06 19:44] cannawen opened #69 "Add information about how bot is run in production"
Digital Ocean, ubuntu, supervisord, etc.

[2017-10-06 19:49] devesh-verma commented on #24
@cannawen Hey I am attaching the screenshots:
1. Reddit app.
2. environment.yaml.
3. error I encountered while trying to run, without making changes to source-code.
![3](https://user-images.githubusercontent.com/20336672/31295765-70859998-aafd-11e7-989d-fd582d83cac7.png)

Also please let me know which version of JavaScript are you using int this?

[2017-10-06 20:01] cannawen commented on #24
1. Sorry, I've deleted some of your screenshots because they contained passwords
2. Your oauth username should be the "esv8...." string. I can improve the README documentation to make this more clear!
3. You do not need to have your bot hitting production servers for this issue (but you can if you want to be super thorough!), you can work on the issue by just running "npm test"
4. What is your nod

[2017-10-06 20:22] cannawen commented on #54
Ah, I shouldn't have closed this. Of course there is more.

"pint", "bartending", "Flow improver", medium, paint, retarder, thinner, primer, wash, acrylic, paste, oil,

[2017-10-06 21:30] cannawen opened #70 "Discussion - Improve new contributor experience"
Open source is scary.
We should make it as easy as possible for newbies to contribute to open source

Some ideas, in no particular order:
- [x] 1) issues tagged "first timers only" (only open to those who have never contributed to OSS) that require < 30min to complete, and have more detailed instructions
[CHECK, first issue created #79 . We will see how it goes, and iterate from there]
- [x] 2) cr

[2017-10-06 22:01] cannawen opened #71 "Discussion - Discussions"
GitHub issues does not seem like a great platform for discussions. The conversation is linearly organized and chronologically​ ordered.

Should only the top post be made on GitHub, and then locked while linking to a discussion thread on /r/metric_units subreddit? Reddit seems like a much more natural place for discussions, where each point can be a separate comment and there can be comment replies

[2017-10-07 06:56] cannawen opened #74 "Handle commas better"
Enhancement request summary:
---
Use Numeral.js to localize number recognition (i.e. 4,32 vs. 4.32)

Initial discussion:
---
Now that we have a preprocess step, we can remove commas from the input string but it might be a bit tricky because we don't want to blanket get rid of _all_ commas (for example "40 miles,foo" would turn into "40 milesfoo" which would not be processed as miles )

Another pro

[2017-10-07 07:08] cannawen commented on #74
[Numeral.js](http://numeraljs.com/#locales) looks like it has some locale features, but I'm not sure if it is as flexible as we need

[2017-10-07 07:34] nicolasferraro commented on #74
Since we are looking to add more code to preprocessing, should we factor out the preprocessing code into a separate module and then export preprocessComment to avoid polluting conversion_helper?

[2017-10-07 07:40] cannawen commented on #74
I like that idea! Perhaps "conversion.js" can use some "preprocess" module before passing the result to "conversion_helper"? Do you want to handle this as part of PR #73, or should we create a new issue?

[2017-10-07 07:43] nicolasferraro commented on #74
Sure!, I'll handle it in #73.

[2017-10-07 13:27] nalinbhardwaj commented on #74
I really like the idea of using numeral.js for parsing/handling preprocessing. But this would probably require a major refactor for preprocessing. We can assume locale based on many things(subreddit, general number of active users, etc.) and parse numbers accordingly, remove commas and push it forward. I can look into handling this once #73 is merged. If we plan to do this however, I suggest movin

[2017-10-07 13:30] cannawen commented on #71
I guess organization is not _too_ big of a concern right now, since our discussions are small.

But it makes me sad that discussions threads usually only have 2 people talking back and forth. Perhaps reddit would feel more inviting for discussions, since you can create a new comment thread to give feedback instead of "butting into someone else's conversation" (<--- even though doing this is totall

[2017-10-07 13:44] cannawen commented on #74
Ohhh yes, maybe it's a good idea move it out of anything related to conversions. Assigning issue to @nalinbhardwaj and marking issue as blocked on #73

[2017-10-07 13:56] #55 closed, assigned to nobody

[2017-10-07 17:30] devesh-verma commented on #24
@cannawen ok I will leave the running part, and work on the issue. For working on the issue how do I start about it?

[2017-10-07 17:38] cannawen commented on #24
You would have to add [something similar to this](https://github.com/cannawen/metric_units_reddit_bot/commit/e0eb7f637d8703c9251de70794d117438f9d8fe1), except for knots instead of psi.

Do you have `npm test` working?

[2017-10-07 17:42] devesh-verma commented on #24
@cannawen
I am getting this error when I run `npm test`
![npm_test_screenshot](https://user-images.githubusercontent.com/20336672/31310399-2c53807e-abb5-11e7-88b9-10dba9f08be2.png)

[2017-10-07 17:43] cannawen commented on #24
It looks like `npm install` did not work. Can you try running that again, and waiting for it to finish? Thanks for the screenshot, it was very helpful :D

[2017-10-07 17:44] devesh-verma commented on #24
@cannawen That was by mistake I had already done that

[2017-10-07 17:47] cannawen commented on #24
Try `npm install -g mocha --save-dev`? I'm not sure if it'll work, I'm just googling over here, since I can't repro the issue on my machines haha

[2017-10-07 17:51] devesh-verma commented on #24
@cannawen `npm install -g mocha --save-dev`.
The command ran successfully but `npm test` still gives me error, I tried searching but no luck :disappointed:
![npm install -g mocha --save-dev](https://user-images.githubusercontent.com/20336672/31310446-0ebb6ae4-abb6-11e7-996e-52211ee28e5e.png)

[2017-10-07 17:54] cannawen commented on #24
Can you run `node --version`? What does that give you?

[2017-10-07 17:58] devesh-verma commented on #24
@cannawen  v4.2.6

[2017-10-07 17:59] cannawen commented on #24
Ah, I think that's the problem. The minimum version of node required is 6.2.1
Try updating node!

[2017-10-07 18:49] nalinbhardwaj commented on #67
Simplest solution might be to re-check last, say 100 comments, so that would probably make sure any edited comments within 10 minutes of creation or so have a correct response.

[2017-10-07 19:57] devesh-verma commented on #24
@cannawe I have updated node to version 8.6.0
Now I am getting this new error.
![new_error](https://user-images.githubusercontent.com/20336672/31311332-9f0528f4-abc7-11e7-874a-8f1116417c32.png)

[2017-10-07 20:06] cannawen commented on #24
Hey, that's progress ;)

try `npm update` and `npm install` again?

[2017-10-07 20:10] devesh-verma commented on #24
@cannawen yay, its running, just need your confirmation.
![woohoo](https://user-images.githubusercontent.com/20336672/31311422-87de937a-abc9-11e7-96bc-6d73f0be19b3.png)

[2017-10-07 20:11] devesh-verma commented on #24
`"imperialUnits" : [/-?psi/, /-?pounds?[ -]?(?:force)?[- ]?(?:per|an?[/])[- ]?squared? inch/],`
can you explain me this code, so that I can start working.

[2017-10-07 20:24] cannawen commented on #24
Wooo, green tests! Very nice :D

This is an array of regular expressions, used for matching text.

I learned about them [following this tutorial](https://regexone.com/), I think this hands-on approach to learning would be a lot better than me explaining it in a text comment :)

[2017-10-07 20:29] devesh-verma commented on #24
@cannawen thanks a lot for helping me. Hopefully I will try to send the PR by today. :smile:

[2017-10-07 20:35] cannawen commented on #24
No, **thank you** for contributing!!

I'm going to sleep soon, but feel free to comment if you have more questions, I'll get back to you in the morning (or maybe one of the other lovely members of this community will answer... *hint hint*)

[2017-10-07 21:04] devesh-verma commented on #24
@cannawen do I need to add my name in contributors.md.
Even I will be going off to sleep now its 2:34am in India I have not yet slept :smile:

[2017-10-07 22:11] cannawen commented on #24
It is your decision if you want to add your name to [.all-contributorsrc](https://github.com/cannawen/metric_units_reddit_bot/blob/master/.all-contributorsrc), that step is optional.

[2017-10-08 05:56] cannawen opened #78 "Always add L/100km conversion"
** Potential first timers only story - needs more description **

[2017-10-08 06:56] cannawen opened #79 ""oz" is not being converted to "troy oz" in subreddit /r/Pmsforsale"
[metric_units](https://www.reddit.com/user/metric_units) is a sassy reddit bot that finds imperial units, and replies with a metric conversion.

## First timers only
This issue is reserved for anyone who has **never** made a pull request to Open Source Software. If you are not a first timer, we would still love your help! Please see our other open issues :)

[Read our New to OSS guide](https://git

[2017-10-08 10:22] arpitbatra123 commented on #79
I'd Like to work on this Issue.

[2017-10-08 10:31] cannawen commented on #79
Hello @arpitbatra123, this issue is reserved for people who have never opened a PR to open source. It looks like you've made a PR before, which is awesome! But it means you are overqualified for this issue :( If you are so inclined, you can check out any of the other issues in this repo that are not tagged `first timers only` :D

Another alternative is you can go ahead and fix the issue just for l

[2017-10-08 11:45] cannawen commented on #28
So we have been having this discussion assuming that the personality order must always be the same. I just thought of something, we could _stop_ caring about which "personality" is triggered first. If multiple personalities match, we can randomly choose one to go with.

That way, we can put each personality into a separate file (preferably yaml) and it would be dead simple to add more personality

[2017-10-08 13:52] namantw commented on #79
Hello @cannawen I would love to work on this issue.

[2017-10-08 13:54] #50 closed, assigned to nobody

[2017-10-08 13:54] #68 closed, assigned to cannawen

[2017-10-08 15:18] cannawen commented on #79
Assigned to you, @namantw! Feel free to reach out if you get stuck and can't find a solution :)

[2017-10-08 15:57] namantw commented on #79
Hey, in step number 5 it says "Run npm install to download all of the required dependencies". Are there any dependencies other than mocha?

[2017-10-08 16:00] shrink commented on #67
I'd argue because it's not possible to do this automatically with any reliability that trying to do it automatically will create a very confusing user experience -- "why hasn't the bot updated the conversion when I edited my comment but it did for another comment I saw? How do I make it update?".

The problem of edited comments is meaningful enough to try and solve, but I don't think it's a big en

[2017-10-08 16:00] cannawen commented on #79
Yes, there should be more dependencies than mocha.
You can see all the project's dependencies in the package.json file :) `npm install` should install them all

[2017-10-08 16:01] namantw commented on #79
Okay, just found it. Thanks!

[2017-10-08 16:23] cannawen commented on #67
Given the limitations of the reddit API, I agree, I don't think we can come up with a foolproof automated solution. Perhaps a human-solution is the way to go. I like the idea of a link that says "refresh"! I feel like we might have to cut down on number of links in the footer though (maybe source and hacktoberfest can go) ... but I digress, that's a completely different issue.

It'd be awesome if

[2017-10-08 16:36] namantw commented on #79
I got this when I ran npm test the very first time :(
![screenshot from 2017-10-08 22-03-19](https://user-images.githubusercontent.com/31323328/31318779-d6146726-ac74-11e7-9074-135c90e270fc.png)

[2017-10-08 16:37] namantw commented on #79
What am I doing wrong? I am an absolute beginner when it comes to npm.

[2017-10-08 16:50] chazzlabs commented on #28
We can definitely do that. It would be basically exactly the same as what we discussed before but without the need for the explicitly-ordered array.  Adding a new personality would be as simple as adding the new yam file.

Do we want to be concerned about weighting the personalities in the same way we're weighting the responses? That adds an additional layer of complexity that we might not care ab

[2017-10-08 17:18] cannawen commented on #28
Nope, don't weight them. I agree, more simple = more better

[2017-10-08 17:45] namantw commented on #79
Okay I think I have found the "issue". I added a flag 'gi' in the code.
![image](https://user-images.githubusercontent.com/31323328/31319311-862d45a2-ac7e-11e7-8c79-15617add0a52.png)

[2017-10-08 18:03] cannawen commented on #79
Hey @namantw , sorry I didn't see your message earlier!

I'm sorry, I forgot a step in the setup (MY BAD!). You need to move the sample_environment.yaml file into a new folder called "private" and rename it to environment.yaml.

That fix looks good to me, but try to run the tests again to see if it passes :)

[2017-10-08 18:04] namantw commented on #79
Okay, thanks a lot for your help :)

[2017-10-08 18:09] namantw commented on #79
It passed all the tests (Hurray!)
![image](https://user-images.githubusercontent.com/31323328/31319493-c42b1da4-ac81-11e7-8f51-78580463e0a5.png)

[2017-10-08 18:09] cannawen commented on #79
Awesome!!! Make a pull request, and I will review it :)

[2017-10-08 18:10] namantw commented on #79
One more thing should I keep the private/environment.yaml as it is or revert it back to the way it was?

[2017-10-08 18:12] cannawen commented on #79
Oops... I should not have told you to "move" the sample_environment.yaml, I should have told you to copy and paste. I will clear up these instructions for the next time I open a "first timers only" issue ;)

Can you revert "sample_environment.yaml" back to the way it was?

[2017-10-08 18:12] namantw commented on #79
Okay done!

[2017-10-08 18:34] namantw commented on #79
@cannawen I have made the pull request! But I do not know how to add myself in the 'credits'. Can you do that for me if the PR is merged.

[2017-10-08 19:00] cannawen commented on #79
@namantw What have you tried so far? Can you send some screenshots if you are encountering errors?

[2017-10-08 19:03] namantw commented on #79
I have made the PR. The issue is fixed, but I could not add myself to the 'credits'.

[2017-10-08 19:05] cannawen commented on #79
Have you tried running this line: `npm run all-contributors add namantw code` ? Does it return any errors?

[2017-10-08 19:07] namantw commented on #79
It shows this
![image](https://user-images.githubusercontent.com/31323328/31319950-f1e08f88-ac89-11e7-80fe-f28155fce6c3.png)

[2017-10-08 19:08] cannawen commented on #79
Hmm, interesting, and this is after you have already run `npm install`?

OK... I'm not sure what is going wrong there either, I can add you after your PR gets merged in ;)

[2017-10-08 19:09] namantw commented on #79
Thanks for your patience and support :)

[2017-10-08 19:10] cannawen commented on #79
No, _thank you_ for contributing ;)

Oh, one more idea about the all-contributors thing: Can you check `git log` ? Is there a commit that says something like "Added @namantw as a contributor"?

[2017-10-08 19:13] cannawen opened #81 "Ignore all nba subreddits for mpg"
** Potential first timers only story - needs more description **

mpg means minutes per game, and the basketball fans are very unhappy.

Similar fix to #39 , ignore all nba team names from "mpg" conversion

[2017-10-08 19:33] #79 closed, assigned to nobody

[2017-10-08 19:39] cannawen commented on #79
^ @namantw See, this issue was closed automatically once the PR was merged ;)

Do you have any feedback on your experience? This is the first time I have created a "first timers only" issue, so there were a few hiccups:
- Missing environment.yaml instruction
- all-contributors thing did not work.
- Unclear instructions on how the PR should be formatted

Anything else I can do to improve the experi

[2017-10-08 20:00] cannawen opened #82 "Ignore "cup" measurements over 100"
Modify `isWeaklyInvalidInput()` of `cups` to ignore cup measurements over 100. You can read documentation of the function [here](https://github.com/cannawen/metric_units_reddit_bot/blob/master/src/conversion_helper.js#L120) and the line to be changed is [this](https://github.com/cannawen/metric_units_reddit_bot/blob/master/src/conversion_helper.js#L432).

Add tests as well to ensure this works.

#

[2017-10-09 02:09] cpa5399 commented on #64
@cannawen Totally agree! Shouldn't be too hard, I would imagine doctoc would be flexible :D

[2017-10-09 04:11] nalinbhardwaj commented on #74
Some thoughts after further analysis.

numeral.js is actually very lacking in it's locale handling. For example, for the Arabic/Indian system, the 2nd most popular after american system, it doesn't contain a locale. And locales are mainly just better(language translated) handlers for `thousand, million, billion`.

Also, some manual stats gathering on r/india shows that a lot more people use Americ

[2017-10-09 04:21] nalinbhardwaj opened #83 "Feature request: Convert lbs/inch to kg/mm and N/m"
## Issue description

lbs/inch should be converted to kg/mm and N/m, these are units for spring rate forces, surface tension etc.

## Recommended skills

Basic javascript & basic regular expressions

## Relevant Links
[Reddit comment](https://www.reddit.com/r/metric_units/comments/73edn2/constructive_feedback_thread/do3ueey/?utm_content=permalink&utm_medium=front&utm_source=reddit&utm_name=metric_

[2017-10-09 04:27] Skuhoo commented on #83
I'll take this task!

[2017-10-09 04:29] nalinbhardwaj commented on #83
Great, thanks @Skuhoo

[2017-10-09 05:44] nalinbhardwaj commented on #83
Hey @Skuhoo, with the added feedback in the Reddit thread, I've updated the issue description, please check it out.

[2017-10-09 05:50] cannawen commented on #74
Instead of looking at the subreddit to determine locale, maybe we can just handle some basic types of numbers for all subreddits.

So the following is a list of what a Reddit user writes, and what the bot parses in "standard" notation:

1) x.xx -> x.xx
2) x.xxx.xxx -> x,xxx,xxx
3) x.xxx,xxx -> x,xxx.xxx
4) x'xxx -> x,xxx

So these are just some rough ideas/guidelines. We can break down the differe

[2017-10-09 05:58] nalinbhardwaj commented on #74
Yes @cannawen, actually, Numeral.js doesn't allow for a different number of distance in commas in a number(at least not trivially), which is the case with Arabic numeral system, where-in numbers are 10<sup>5</sup> = 1 lakh, 10<sup>7</sup> = 1 crore and so on, so basically, we use(1,00,000 instead of 100,000). Doing this in-house would be much easier.

This is optimal since that'll allow us experti

[2017-10-09 06:06] namantw commented on #79
My experience was awesome :D
I really appreciate your support and patience. I think you had explained everything very clearly. I don't think there is anything to improve.

[2017-10-09 06:22] Skuhoo commented on #83
@nalinbhardwaj Alright, noted.

[2017-10-09 13:33] andrewwylde commented on #18
Hey, sorry for the massive delay. After a bit of a dive, I think it'd take some re-writing and re-wiring to get rid of the mocks. One library I've seen used (but I'm no expert in the testing realm), is [Sinon](http://sinonjs.org/).

I don't want to take up too much time, so instead maybe I can just make this recommendation and see where you think you'd like to take it.

I could take a stab at rewr

[2017-10-09 16:52] #83 closed, assigned to nobody

[2017-10-10 05:36] cannawen commented on #18
No worries! :) I am happy to delete bot-test.js and start anew with Sinon.

Maybe you can just write a few tests (for example, a test to make sure the timers are enabled with the correct numbers, and another test for one network call) so we can get a gist of how Sinon would look like with our project. Don't feel like you have to write all of the tests yourself, this issue was more meant to be "cho

[2017-10-10 06:58] cannawen opened #86 "Handle close numbers better"
Rounding by 5% is too lenient when dealing with two close numbers. Bot should be more precise when necessary.

Up to implementer to propose what values and thresholds to use, to define two (or more) "close" numbers and what kind of precision is "good enough"

Examples:
https://www.reddit.com/r/metric_units/comments/73edn2/constructive_feedback_thread/do4g33n

[2017-10-10 07:07] cannawen opened #87 "Conversions architecture overhaul"
Similar to #28, our conversions file is getting out of hand. Consider refactoring so that each conversion's data is in a .yaml file

Consider using the regex length to sort the order of conversions, so "miles per hour" (14 char) will get triggered before "miles" (5 char).

Maybe we should stop adding new conversions, until this refactor is in place?

[This issue is open for discussion on reddit](h

[2017-10-10 07:14] cannawen commented on #71
Created #87 to see if it works! Closing this issue.

[2017-10-10 07:14] #71 closed, assigned to nobody

[2017-10-10 07:28] cannawen commented on #65
Marking as unblocked on #28. I just realized this takes a completely different code path than our regular personality triggers.

[2017-10-10 10:08] cannawen opened #88 "Modify pressureMap to convert 10^5 pa to bar"
## Issue description
Modify the existing pressureMap so 10^5 pa or more are converted to bars.
[Relevant function](https://github.com/cannawen/metric_units_reddit_bot/blob/master/src/conversion_helper.js#L70)

## Relevant links
[Reddit comment thread](https://www.reddit.com/r/metric_units/comments/73edn2/constructive_feedback_thread/do4xcoc/)

[2017-10-10 11:27] cmd-kvn commented on #47
@cannawen you are bomb.com. I would be happy to take a look!

[2017-10-10 11:27] cmd-kvn commented on #81
when this is ready I'd like to take an attempt!

[2017-10-10 13:07] cannawen commented on #58
https://www.reddit.com/r/metric_units/comments/73edn2/constructive_feedback_thread/do5x8cg

Looks like we should just rethink this whole rounding thing entirely. Closing issue, to be reopened with new requirements

[2017-10-10 13:07] #58 closed, assigned to nobody

[2017-10-10 13:07] cannawen opened #89 "Improve rounding"
The bot is currently rounding to the same number of decimals as input or 3-5% error, but it should be following standard rounding rules.

[2017-10-10 13:09] chazzlabs commented on #65
@cannawen This thought didn't cross my mind, but you're totally right.  We'd have to handle this as a conversion.  Should this be as simple as the other conversions or does the special case make this more complex?

[2017-10-10 13:10] cannawen commented on #81
Okie dokie! If you have an idea of how to go about doing it, you can feel free to start.

I was just going to add more detailed first timer instructions so they do not need to leave the page to see how to set up the project, etc., It's just blocked on me not having enough time to do this :P haha. You can browse the readme and other documentation to find all the info you need

You can also wait lik

[2017-10-10 13:10] cannawen commented on #81
Assigning to @cmd-kvn

[2017-10-10 14:50] cmd-kvn commented on #81
I'm slightly confused - the issue requests to ignore NBA subreddits while the comment requests to ignore NBA team names. Some NBA subreddits don't follow the team name e.g. Trail Blazers !== r/ripcity. The glossary/comment for ignoredKeywords doesn't give me a better idea which way to go. Currently I have team name, not subreddit name, ignored. How can I help you fix the issue properly?

[2017-10-10 15:06] chazzlabs commented on #81
It appears that you need the subreddit name, not the team name, in the `ignoredKeywords` array.  I agree it's a bit ambiguous.

[2017-10-10 15:24] cmd-kvn commented on #81
@chazzlabs thanks for your assistance! I'll go ahead with the subreddit name list and ready a PR. Before that, would you or @cannawen be so kind to add a `hacktoberfest` label?

[2017-10-10 15:36] chazzlabs commented on #81
@cmd-kvn Added the `hacktoberfest` label.  But don't worry if the issues you're resolving aren't marked with that label; any PR you make during October will count regardless.

[2017-10-10 17:02] cannawen commented on #65
I am OK with it being a hard-coded special case (kind of like the subreddit /r/totallynotrobots is a special case). If we get too many of these "hard coded special case" scenarios, we can look into doing another refactor but I think 2 is acceptable for now.

[2017-10-10 17:28] cannawen commented on #81
I'm sorry, the issue was not fully ready 😭 😭 😭

[2017-10-10 17:38] shrink opened #90 "Bot should sass users who edit their comments to remove values"
# First Timers Only

This issue is reserved for anyone who has never made a pull request to Open Source Software. If you are not a first timer, we would still love your help! Please see our other open issues :)

[Read our New to OSS guide](https://github.com/cannawen/metric_units_reddit_bot/blob/master/NEW-TO-OSS.md) for an overview of what to expect.

Please comment below if you would like to imp

[2017-10-10 17:45] #67 closed, assigned to nobody

[2017-10-10 19:08] chazzlabs commented on #81
Sorry! 😦

[2017-10-10 19:19] cannawen commented on #81
Haha, don't worry, I'm just kidding :)

[2017-10-10 20:43] aterranova-bv commented on #63
This project is awesome!

I can tackle this issue, Happy Hacktoberfest! 🎃 👻 🎃 👻 🎃 👻

[2017-10-10 22:57] #46 closed, assigned to nicolasferraro

[2017-10-11 11:54] mcoirault commented on #60
Yes, I've read that doc. I also saw about the 7 days limit. I might need some more time : busy days prevented me from working on the bot as much as I wanted. 😄

I might also need some help with testing : I'm not 100% confident that some of the changes es-lint wants us to enforce are going to work.

[2017-10-11 17:50] citricsquid commented on #90
@cannawen following your example in #79 I put together a guide on how to implement this feature, I've yet to finish the guide though (need to add notes on testing, need to edit it) but I have run out of time today so here's my work in progress. I'll try and get it finished tomorrow, and once it's finished I will add it as the issue body :)

---

# First Timers Only

This issue is reserved for anyo

[2017-10-11 18:19] cannawen commented on #63
Sounds good, thank you! Assigned to @aterranova-bv

[2017-10-11 18:27] #81 closed, assigned to nobody

[2017-10-11 18:31] cannawen commented on #60
No problem at all, feel free to take more time! Thank you for updating us :)

What do you mean by testing might not work? Can you give an example?

[2017-10-11 19:09] cannawen commented on #90
Delete this comment & un-mark as blocked when issue is ready

---

This looks really good! Thank you for putting in the time to do this (I know, it takes _forever_).

In step 3 above "testing," I found it a bit unclear where `reply = personality.robotReply({ "body" : "_time_waster", "username" : comment['author'] });` was supposed to go. (But this is ok if you expect them to figure out where to pu

[2017-10-11 19:30] cannawen commented on #90
Also #95 is a refactor that is going to affect the line numbers so they might not match up to this issue - perhaps just rely on their cmd+f abilities instead of line numbers? Or we can wait until the PR is merged in first and see how the lines shake out

[2017-10-11 22:32] citricsquid commented on #90
@cannawen I agree that step 3 is confusing, a fresh pair of eyes is very helpful, thank you. I'll give that a once over to clarify! I'll drop the line number references, it's probably more helpful to teach someone how to find methods based on name rather than depending on line number anyway :)

[2017-10-12 00:28] #41 closed, assigned to nalinbhardwaj

[2017-10-12 00:45] cannawen commented on #74
OK. Let's first create an issue for "refactor number parsing" and first we will just parse standard numbers, like:

000.00
0,000.00
0.00
.00

And then we can talk about adding support for different number systems on a case-by-case basis after the refactor is in.

@nalinbhardwaj Do you still want to work on this?

[2017-10-12 00:49] nalinbhardwaj commented on #74
@cannawen yes, that can be done, but again more or less first we need to figure out how to deal with this as I mentioned:

I can make a PR soon that would add all suffix multipliers(thousand, million etc.) from numeral.js . I think it's a good start. We can work on the number parsing regex side by side. I can also make a PR adding the new formats, but that can be kept open if someone else wants a

[2017-10-12 08:07] nalinbhardwaj commented on #74
I thought about this a bit, and I now feel like the downside to making a much plainer regex, something like [this](https://www.debuggex.com/r/BriYzeT2XiPp7TC4) would be extremely low. I mean, we know it is a number, and followed by a unit/following the format, isn't it almost guaranteed to be a number of units? @cannawen thoughts?

[2017-10-12 08:26] cannawen opened #99 "change footer links and text"
Change to:

metric units bot | refresh conversion

"Metric units bot" should link to the subreddit.
"Refresh conversion" should include the refresh link, and have a version string in the message

[2017-10-12 08:29] cannawen commented on #65
Assigning to @sirugh

You could still possibly use the personality.js code if you follow similar instructions to #90 :) up to you though, whatever you think makes the most sense!

[2017-10-12 12:44] cannawen opened #100 "Refactor number parsing"
Create a module with a function that takes in a string (with numbers), and return an object that contains an array of
- the start index of the number found
- the end index of the number found
- the "float" or "int" value of the number found, without formatting.

For example, input: "10,001 miles -4.56 foobar"
Should return output:
[code]
Number types supported, to start:

- Negative numbers
- Numb

[2017-10-12 12:48] cannawen commented on #74
We can add a parsing for "100,1000"  (or 50e-5) but I think it makes sense to first focus on creating a good architecture for "standard" numbers so we can easily add new ones in the future. I think we can leave the "1k -> 1000" parsing where it is for now, and perhaps refactor later on if we feel like it makes sense in the number parsing part of the code.

I created issue #100 for how I am envisio

[2017-10-12 13:54] nalinbhardwaj commented on #74
@cannawen did you see that regex I posted? My basic idea was that if we just allow for any numbers with any amount of separation using _, or ._, I don’t think we'll run into many false positives, since we are already checking if it’s surrounded by a unit etc. Can you think of a case where a valid sentence is written, assuming proper punctuation(commas in sentence followed by space) where this pars

[2017-10-12 14:15] cannawen commented on #74
If we "capture" every number with periods and commas, we still need to "figure out" what it means (ex. the string "1.234,56" means 1234.56) so I don't see the benefit in capturing the string "1.234,56" alone, without parsing it to a javascript float as well. But perhaps I am missing something?

I also think it would be best if the number-parsing was completely separate form the unit-parsing (so pe

[2017-10-12 16:29] chazzlabs commented on #28
I was finally able to get the PR in for this one!  We can discuss any individual changes in the PR comments.

[2017-10-12 16:46] citricsquid commented on #90
@cannawen I've finished up the guide based on how the code currently looks. If there are changes to the structure of the code merged before someone has a go at this I'll update the guide to cover the new structure. If you have time to give it a once over to identify any confusing parts that would be great, thanks :)

[2017-10-12 17:52] chazzlabs commented on #56
I'm going to take a look at this one.

[2017-10-12 18:10] pdbeard commented on #90
This guide is great and has instilled courage and confidence in me. I'd like to give it a go!

[2017-10-12 22:03] shrink commented on #90
@pdbeard Sure! Go for it. Let us know if you run into any issues or need any pointers :)

[2017-10-13 00:08] #63 closed, assigned to nobody

[2017-10-13 00:13] cannawen commented on #90
Yay @pdbeard !!!!!!!!!!1 :D

[2017-10-13 02:16] sirugh commented on #65
@cannawen can you assign this to someone else? I started getting into it but I feel like I'd rather refactor the bot code before just adding this sort of thing -- and I think you've already got some helpers on the overhaul/refactor. Enjoy the precommit hook :) Take care!

[2017-10-13 03:20] cannawen commented on #65
OK Thanks! :)

[2017-10-13 03:35] cannawen commented on #60
I've updated the instructions to include more details on what needs to be done :)

[2017-10-13 14:23] pdbeard commented on #90
Thanks @citricsquid and @cannawen!
I've set up the project and received one "pending" status on the initial test run. Is this expected?

[code]
Additionally, I noticed one other test that passed, but returned a warning.

[code]
All the others passed. I'm on node v7.10.1. Thoughts?

[2017-10-13 14:29] shrink commented on #90
@pdbeard a test can be written but skipped if the functionality hasn't been built yet, on line 506 of `test/converter-test.js` is what is causing the `pending` test notice, which is expected.

[code]

The `MaxListenersExceededWarning` error isn't something you need to worry about it, it's just because by default nodejs limits to 10 listeners to prevent memory leaks and we haven't explicitly upped

[2017-10-14 13:53] shrink commented on #90
@pdbeard Hey! I noticed you committed your changes to your fork but did not submit a pull request here. Do you need help with that? A pull request is required to have your changes added to this repository :)

Here's a GitHub guide on submitting a pull request: https://help.github.com/articles/creating-a-pull-request/

[2017-10-15 13:44] nalinbhardwaj commented on #24
@devshiva619 ping.

Are you still working on this?

[2017-10-15 14:22] nalinbhardwaj commented on #82
@cannawen updated to include details.

[2017-10-15 17:42] devesh-verma commented on #24
@nalinbhardwaj Yes, I will start working from tomorrow as I wasn't well till now had a severe viral fever.

[2017-10-16 13:17] pdbeard commented on #90
@criticsquid Sorry for the delay! Reading the guide and will submit my pull request soon, I'll let you know if I have any issues.

[2017-10-17 11:27] mcoirault commented on #60
I'm slowly getting there. There are a few issues where I will need help.

First, I'm not familiar enough with mocha, so I didn't find a way to make it handle the comma-dangle rules we need to enforce. When trying to run `npm test`, it stops at and displays this :

`.\metric_units_reddit_bot\test\bot-test.js:22
  );
  ^
SyntaxError: Unexpected token )`

Secondly, I'm having trouble tackling the las

[2017-10-17 18:37] pdbeard commented on #99
I'd like to take a stab at this, but am a bit confused at what the refresh link refers to. Are you talking about the generated numbers that get added into the subject line?

[2017-10-18 01:59] jacobScottAllen commented on #89
It seems like the link no longer works.

[2017-10-18 02:04] jacobScottAllen commented on #82
I would like to work on this!

[2017-10-18 03:46] ajripley commented on #54
Is this still available to fix? I didn't see changes addressing "pint" and "bartending" in the main branch or in any of the pull requests. I'd love to give it a shot, if it's up for grabs. :)

[2017-10-19 10:13] nalinbhardwaj opened #106 "Bug report: Add ignore keywords to "cups" for gaming sub reddits"
## Issue Checklist

- [x] I have read the [Contributing Guidelines](https://github.com/cannawen/metric_units_reddit_bot/blob/master/CONTRIBUTING.md)
- [x] I have made an effort to look around, but could not find a similar issue
- [x] BUG REPORT: This issue describes the problem clearly, and contains relevant links to a reddit comment or reproduction steps

## Issue description
Ignore gaming subred

[2017-10-19 10:45] nalinbhardwaj commented on #54
@ajripley yep, feel free to make a PR adding the two words. :)

[2017-10-19 15:49] ajripley commented on #54
@nalinbhardwaj I assumed that there would be more work - are there no tests for this that would need updating?

I suppose if it's that simple, it should probably go to someone who hasn't made a pull request before.

[2017-10-19 16:47] nalinbhardwaj commented on #88
@cannawen updated to include details.

[2017-10-19 16:50] nalinbhardwaj commented on #54
@ajripley the issue will probably be kept open for a while as there'll be more keywords we'd be missing.

[2017-10-19 19:16] sidhant007 commented on #88
Hey, I would like to work on this issue 😀

[2017-10-19 20:03] #82 closed, assigned to nobody

[2017-10-21 12:56] cannawen commented on #60
@mcoirault What version is your node? It needs to be >8.0 in order for some of the linting to work

[2017-10-21 13:02] cannawen commented on #99
Ah, sorry for the lack of details! If you look at any of [metric_units](https://www.reddit.com/user/metric_units) bot's footers, you will see:
![screen shot 2017-10-21 at 8 57 41 am](https://user-images.githubusercontent.com/1088336/31851948-f384334a-b63d-11e7-9c21-56206e793f29.png)

Now, this footer is getting too long. What we want to change it to, is:
![screen shot 2017-10-21 at 8 57 41 am copy

[2017-10-21 13:09] cannawen commented on #89
@jacobScottAllen Fixed description, sorry about that :)

[2017-10-21 13:11] #106 closed, assigned to nobody

[2017-10-21 13:30] cannawen commented on #88
Thanks @sidhant007 ! Let us know if you run into any problems :)

[2017-10-21 14:27] nalinbhardwaj commented on #89
@cannawen I think this might be overkill in some conversions, especially if the user doesn't really care about precision. A better heuristic might be to follow the standard rounding rules, and in case with these rules, it has more than twice the significant figures, round it off with 3 or 5% error.

[2017-10-21 15:30] mcoirault commented on #60
Dang, my node version was 5 something. MY bad. I need to be a better dev, I need to update my tools more...

It fixed the dangling comma issue. I'm now facing a different issue. I'm not sure if it's linked to my dev environment being windows. I'll investigate.

`C:\wamp\www\metric_units_reddit_bot\node_modules\mocha\lib\mocha.js:79
  this.files = [];
             ^

TypeError: Cannot set property

[2017-10-22 23:17] nalinbhardwaj opened #109 "Feature request: Add unit `qt` = 1/4 gallon"
## Issue description

Add unit quarters, with alias qt which denotes a quarter gallon. Very similar to the existing gallon unit, can be copied from [here](https://github.com/cannawen/metric_units_reddit_bot/blob/master/src/conversion_helper.js#L464)(just modify the conversion factor)
## Relevant links

[Reddit comment thread](https://www.reddit.com/r/metric_units/comments/73edn2/constructive_feedb

[2017-10-22 23:38] 123survesh commented on #109
Hi @nalinbhardwaj I would like to work on this issue

[2017-10-22 23:48] nalinbhardwaj commented on #109
@123survesh I’m sorry, I think we’re going to have to close this issue. Since quarter is a very common keyword, I think the false positives would much outweigh the real conversions. It’s best to leave it unfixed.

I’m sorry I didn’t realize this when making the issue, you can take some other issue tagged with “help wanted”.

[2017-10-22 23:49] #109 closed, assigned to nobody

[2017-10-23 00:55] 123survesh commented on #109
yep cool :+1:

[2017-10-23 14:48] cannawen commented on #60
I checked out your branch (the link is fine, no need to PR 😃  ), and was able to run `npm run lint` without any errors. Is that the command you were running? I am on a mac though, so yeah, it could be a windows thing :/ Google wasn't super helpful with the error.

[2017-10-23 20:24] #69 closed, assigned to cannawen

[2017-10-23 20:24] #70 closed, assigned to cannawen

[2017-10-23 20:45] #56 closed, assigned to nobody

[2017-10-23 20:52] cannawen commented on #60
@mcoirault Can you try deleting your node_modules folder, and then `npm install` again? I don't see `this.files = [];` on line 79 of my mocha.js, so this might be a versioning issue from the node upgrade

[2017-10-23 21:00] cannawen commented on #53
I'm going to temporarily remove bushels from all conversions to solve this issue for now, an issue can be opened later on to fix it "properly," taking into account keywords :)

[2017-10-23 21:00] #53 closed, assigned to nobody

[2017-10-23 21:02] cannawen commented on #24
Feel better, @devshiva619! Take care of your health first :)

Closing issue due to inactivity, we can open it back up at a later date (perhaps after we finish refactoring how all conversions are parsed)

[2017-10-23 21:02] #24 closed, assigned to nobody

[2017-10-23 21:02] #54 closed, assigned to nobody

[2017-10-23 21:02] #78 closed, assigned to nobody

[2017-10-23 21:04] cannawen commented on #57
Closing due to inactivity. Perhaps we can re-open it after we have refactored how all conversions are handled

[2017-10-23 21:04] #57 closed, assigned to nobody

[2017-10-23 22:58] cannawen commented on #18
Closing issue due to inactivity - perhaps we can open it up again in the future if anyone is interested

[2017-10-23 22:58] #18 closed, assigned to nobody

[2017-10-24 00:46] cannawen commented on #67
[The "edit" functionality is working now](https://www.reddit.com/r/test/comments/730lso/metric_units_testing/dosogcr/), pretty sweet! I also give it a little "edit" prefix.

There was a messed up thing in the base `get` call that unwrapped responses & caused problems (heh, my bad).

[2017-10-24 14:52] #90 closed, assigned to nobody

[2017-10-24 15:03] cannawen opened #111 "Range conversion "30-50lb" converted to "30 lb50 lb ≈ 1423 kg""
https://www.reddit.com/r/PowerWheelsMods/comments/78banl/i_remote_controlled_my_kids_barbie_jeep/dotj3ds/?context=3

![screen shot 2017-10-24 at 11 03 55 am](https://user-images.githubusercontent.com/1088336/31951056-0ff3227e-b8ab-11e7-83db-447be749f2b2.png)

@nalinbhardwaj Would you be able to look into this if you have time? Not sure why this is happening.

Examples of it working properly:
https

[2017-10-24 15:50] nalinbhardwaj opened #112 "Scan the r/homebrewing thread and post constructive feedback in r/metric_units"
## Issue description

Recently, r/homebrewing was considering banning u/metric_units, to gain consensus etc., they made a thread [here](https://www.reddit.com/r/Homebrewing/comments/77f81m/metric_bot/) discussing the pros and cons of having the bot. There are 195 comments in the thread, so it should be a fairly large job to go through the comments and extract useful feedback/bugs. Post this back i

[2017-10-24 16:39] cannawen commented on #112
I don't see too much constructive feedback there, it's more of a vote yes/no thing. One general piece of feedback from there and other sources is 5% might be a bit too much to round, we can try to play with the numbers to something more precise. Should be a quick change but then we need to fix all our tests lol

Sure, you can add a non-coding tag if you feel like it makes sense :)

[2017-10-24 16:46] cannawen commented on #60
Also, I noticed that your fork is now pretty far behind master. Not sure if doing all the fixes at once is desirable because of all the conflicts that will occur - I wonder if it would make more sense to turn all the errors into warnings, and fix them slowly over time, and slowly turn the warnings back into errors? Or perhaps the conflicts won't be so bad? Dunno, do you have any thoughts on this?

[2017-10-24 22:52] #111 closed, assigned to nobody

[2017-10-25 01:17] nalinbhardwaj commented on #112
Yep, closing this @cannawen most comments I’ve scanned are not really constructive.

[2017-10-25 01:17] #112 closed, assigned to nobody

[2017-10-27 07:48] mcoirault commented on #60
I'm confident I can handle bringing the commits back in my branch, I'm getting more and more familiar with the code base.

Imho, I think it would make sense to fix it all at once and do some thorough testing to make sure nothing major breaks. Doing fixes overtime might pollute the history by having every PR fixing a little bit of the code base. If we can pull it off, doing it all at once will just

[2017-10-28 13:59] nalinbhardwaj commented on #60
@mcoirault just to make sure the issues with `npm test` don't arise due to windows related issues, you can try running your branch on [travis CI](https://travis-ci.org).

To do that, you can
1. Just make a PR(the build will show up in one of the checks)
2. Or just login with GitHub on the site and switch on builds for your fork.

[2017-10-28 17:56] mcoirault commented on #60
@nalinbhardwaj Thanks for the heads up.

Rebasing my branch to the current master has solved the `npm test` issues I had. I'm not sure why.
I'm now left with the task of fixing all the things I broke here and there 😄

[2017-10-29 13:55] cannawen commented on #60
Glad your issue was magically fixed :D haha

[2017-10-30 14:43] #87 closed, assigned to nobody

[2017-10-30 14:58] cannawen commented on #74
Closing for inactivity - Perhaps a future enhancement to look into

[2017-10-30 14:58] #74 closed, assigned to nalinbhardwaj

[2017-10-30 14:58] cannawen commented on #100
Closing for inactivity - Perhaps a future enhancement to look into

[2017-10-30 14:58] #100 closed, assigned to nobody

[2017-10-30 14:58] cannawen commented on #65
Closing for inactivity - Perhaps a future enhancement to look into

[2017-10-30 14:58] #65 closed, assigned to nobody

[2017-10-30 14:59] cannawen commented on #86
Closing for inactivity - Perhaps a future enhancement to look into

[2017-10-30 14:59] #86 closed, assigned to nobody

[2017-10-30 15:00] cannawen commented on #88
Closing due to inactivity - Perhaps a future enhancement to look into.

[2017-10-30 15:00] #88 closed, assigned to nobody

[2017-10-30 15:01] cannawen commented on #89
Closing due to inactivity - Perhaps a future enhancement to look into.

[2017-10-30 15:01] #89 closed, assigned to nobody

[2017-10-30 15:02] cannawen commented on #99
Closing due to inactivity - Perhaps a future enhancement to look into.

[2017-10-30 15:02] #99 closed, assigned to nobody

[2017-10-30 15:03] cannawen commented on #64
Closing due to inactivity - Perhaps a future enhancement to look into.

[2017-10-30 15:03] #64 closed, assigned to nobody

[2017-10-30 15:34] cannawen opened #116 "Move documentation to /docs folder"
[metric_units](https://www.reddit.com/user/metric_units) is a sassy reddit bot that finds imperial units, and replies with a metric conversion.

## First timers only
This issue is reserved for anyone who has **never** made a pull request to Open Source Software. If you are not a first timer, we would still love your help! Please see our other open issues :)

[Read our New to OSS guide](https://git

[2017-10-30 15:36] kritisingh1 commented on #116
I am taking this up!

[2017-10-30 15:40] cannawen commented on #116
Hey @kritisingh1 thanks for volunteering, but it looks like you are overqualified for this issue :(

It's meant for first-time OSS contributors to get their feet wet, and it looks like you already have a solid grasp on how to make a PR! :D Thanks for your interest though

[2017-10-30 15:43] kritisingh1 commented on #116
Hi @cannawen ! Thanks for appreciation. I was about to submit a pull request. No worries. I am leaving it then  :)

[2017-10-30 19:03] mayankagarwal2402 commented on #116
Hi @cannawen. First time OSS contributor here. I would like to volunteer for this issue.

[2017-10-31 02:04] cannawen commented on #116
Issue assigned to you, thanks for volunteering!

[2017-11-01 05:54] #116 closed, assigned to nobody

[2017-11-07 16:20] pdbeard commented on #99
Ah sorry was on vacation!

[2017-11-08 10:46] anirudhbs commented on #60
I want to take up this issue.

[2017-11-09 17:36] #28 closed, assigned to chazzlabs

[2017-12-02 09:45] b264 opened #121 "bot off"
## Issue Checklist

- [ ] I have read the [Contributing Guidelines](https://github.com/cannawen/metric_units_reddit_bot/blob/master/.github/CONTRIBUTING.md)
- [X] I have made an effort to look around, but could not find a similar issue
- [X] BUG REPORT: This issue describes the problem clearly, and contains relevant links to a reddit comment or reproduction steps
- [ ] FEATURE REQUEST: This issue

[2017-12-02 09:45] b264 commented on #121
https://www.reddit.com/r/metric_units/comments/73edn2/constructive_feedback_thread/